/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.segunda-fila{
    height: 13vh;
    font-weight: 100;
    font-size: x-large;
  }
.spacer{
  flex-grow: 1;
}
.opciones{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 20px;
}

.buscar{
  flex-grow: 1;
  margin: 0 20px;
}

.buscar .mat-icon{
  margin-right: 10px;
}

@media (max-width: 600px) {
  .buscar{
      margin: 0;
  }
  .opciones{
      flex-direction: column;
      justify-content: center;
  }
}
