.info-materia{
    margin: 20px auto;
}
.input{
    width: 100%;
}
.fila{
    transition: 0.3s all;
}
.fila:hover{
    background-color: #ddd;
}
.buscar{
    width: 100%;
}
.docente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
}
ul li {
    list-style: none;
}
ul{
    margin: auto;
    width: max-content;
}
.mat-dialog-actions{
    justify-content: right;
}
.invalid{
    color: rgb(121, 14, 14);
}